<div class="footer" style='float:left'>
    <ul>
        <li style="color: white;">Бидний тухай</li>
        <li style="color: white;">Бидэнтэй холбогдох</li>
        <li style="font-weight: bold; font-size: 30px;color: white; margin-right: 3%; margin-left: 12%;" class="logoname">Shagnaa</li>
        <li style="color: white;">Үйлчилгээний нөхцөл</li>
        <li style="color: white;">Тусламж</li>
    </ul>
    <center>
        <div style="width: 80%; background-color: white; height: 2px;margin-top: 5%;"></div>
    <div class="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
    </div>
    </center>
</div>